:root {
  --primary-color: #0ea5e9;
  --secondary-color: #6366f1;
  --accent-color: #f9fafb;
  --text-color: #111827;
  --light-text: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header/Navigation Styles */
.first_name {
  color: var(--primary-color);
}

.last_name {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
